@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <img src='~/Images/UCL logo.png' width="200px" height="180px" alt="imgf" />
    <h2 class="display-3">Mi álbum de la UEFA Champions League</h2>
    <p class="lead">Podrás ver, editar y tener un mejor control de tus stickers a través de esta página</p>
    <hr class="my-4">
    <p>Solo necesitas cargar el album o ya sea el estado actual del mismo</p>
</div>